
body{
    margin: 0px;
    padding: 0;
}
.navbar{
    background-color:#1f1f1f;
    width: 100%;
    height:120px;
    z-index: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.navblocks{
    width: 100%;
    height: 120px;
    background-color: transparent;
 
   display: flex;
   justify-content:center;
}
.marqueebar{
    background-color: #feaa08;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    color:#444444;
    justify-content: center;

}
.marqueebar marquee {
    padding-top: 6px;
    font-size: 15px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.imglogo{
    background-color:transparent;
    width: 25%;
    height: 120px;
    float: right;
   
    
}
.imglogo img {
   
    padding-left: 18px;

    padding-left: 18px;
    float: right;
    margin-right: 10px;

}
.navigation{

width: 65%;
text-align: center;
display: flex;
align-items: center;

}
.navextra{

width: 30%;
display: flex;
}
.navextraicons
{
    margin: auto;
    width: 100px;
    height: 30px;
    
    display: flex;
    justify-content: space-around;
    color: white;
}
.navigation ul{
    display: inline-flex;
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navigation ul li{
    width: 130px;
   margin: 0;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
   font-weight: lighter;
    
}
.fa-bag-shopping {
    
    transform: scale(1.2);
    
   
}
.fa-magnifying-glass
{
    margin-left: -7px;
    transform: scale(1.2);
}
.fa-user
{
    transform: scale(1.2);
}

.navextraicons span
{
    background-color: #feaa08;
    width: 15px;
    height: 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    /*transform: translate(-13px,-6px);
    */
   z-index: 10;
   margin-top: -4px;
   margin-left: -18px;
}
.slider
{
    height: 500px;
    width: 100%;
    background: red;
}
.about
{
    width: 100%;
    height: 600px;
    background-color: #f4f4f4;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    color: #444444;
}
.heading{

width: 100%;
height: 100px;
font-size: 60px;
    line-height: 60px;
    font-weight: bolder;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 150px;
}
.discription
{
    width: 100%;
    height: 500px;
    
    display: flex;
    justify-content: center;
}
.discription p{
    margin: 0px;
    margin: 0px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 29px;
    font-weight: lighter;
    word-wrap: break-word;
    line-height: 1.4;
   
}
.twoboxes{
    
    color: white;
    width: 311px;
    height: 50px;
    margin: 0px;
    position: absolute;
    margin-top: 270px;
    display: flex;
    justify-content:space-between;
    overflow: hidden;
}
#box1{
    background-color: #444444;
    width: 151px;
    height: 48px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    
  
}
.firstbox::before{
    content: 'Learn more about us ';
    color: white;
    background-color: #feaa08;
    width: 151px;
    height: 48px;
    margin-left: -165px;
    display: flex;
    align-items: center;
    transition-duration: .2s;
}
#box1:hover::before{
    transform: translateX(165px);
    transition-duration: .2s;
    transition-timing-function: linear;
    
}

/*
product section
*/
.productbox
{
    background-color: aqua;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content:space-evenly;
}
.newproduct{
    background-color:#f2f2f2;
    height: 690px;
    width: 300px;
    margin-left: 40px;
    text-align: center;
    margin-top: 150px;
    box-shadow: 0px -1px 6px 0px #d1cece;
}
.newproduct h1{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    color: #444444;
    font-size: 33px;
    font-weight: bolder;
}
.newproduct p{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    color: #444444;
    font-size: 23px;
    font-weight: lighter;
    line-height: 1.6;
    text-align: left;
    padding-left: 16px;
}
.seeallproducts{
   
    width: 158px;
height: auto;
    margin: auto;
    display: flex;
    
}
.seeallproducts::before {
    content: '';
    background:#918e8e;
    width: 116px;
    height: 2px;
    opacity: .5;
    position: absolute;
    margin-left: 15px;
    margin-top: 46px;
    transition-duration: .2s;
}
.seeallproducts::after{
    content: '';
   
    width: 0px;
    height: 2px;
    position: absolute;
   width: 116px;
    transition-duration: .2s;
    margin-left: 15px;
    margin-top: 46px;
    opacity: 0;
}
.seeallproducts:hover::after
{
    transition-duration: .3s;
    width: 116px; 
    background:#feaa08;
    transform:scaleX(1.2);
    margin-top: 0px;
    opacity: 1;

}
.seeallproducts:hover::before
{
    transform:scaleX(1.2);
    transition-duration: .3s;
    background-color: #feaa08;
    opacity: 1;
}
.seeallproducts p{
    font-size: 15px;
    font-weight: bold;
}
.productslist{
    height:690px ;
    width: 915px;
    background-color: springgreen;
    margin-left: -40px;
    margin-top: 150px;
    display: grid;
    column-gap: 11px;
    row-gap: 11px;
    grid-template-columns: auto auto auto;
}
.product{
    width: 280px;
    height: 340px;
background-color:red;
}
